
.done {
  text-decoration: line-through;
}

body {
  margin: 0;
  font-family: arial;
  color: #07113A;
  text-align: center;
}

input, body>button {
  width: 200px;
  margin: 0 auto;
}

h1{
  font-weight: bold;
}


li{
  list-style: none;
  margin-top: 20px;
  font-size: 2em;
}

.btn{
  opacity: 0.1;
}


